{% for item in webconsul_consul_templates %}
template {
  source = "{{ consul_template_root }}/{{ webconsul_consul_template_prefix }}/{{ item.filename }}"
  destination = "{{ item.destination }}"
  command = "/usr/local/bin/notify-consul.sh"
}
{% endfor %}
