{% for item in webconsul_consul_templates %}
template {
  source = "{{ consul_template_root }}/{{ webconsul_consul_template_prefix }}/{{ item.filename }}"
  destination = "{{ item.destination }}"
  command = "sh -c '/usr/local/bin/notify-consul.sh || true'"
}
{% endfor %}
